<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="../static/css/indexstylesheet.css"/>
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>

<!-- Header of the page -->

<header class="main-header">
    <div class="container">
        <h1>
            <a href="#">
            <img src="../static/img/JKorp.png" width="170" height="95" alt="JKorp Logo" style="position: relative; bottom: 0.5em;">
            </a>
        </h1>
        <nav class="main-nav">
            <ul>
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="desktop.html">About us</a>
                </li>
                <li>
                    <a href="desktop.html">Our clients</a>
                </li>
                <li>
                    <a href="desktop.html">Contact</a>
                </li>
                <li>
                    <a href="/login" style="padding: 20px 20px 20px; border-radius: 8px; 
                    background-color: rgba(160, 35, 56, 0.911); color: white;">
                    Inicia Sesion
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>

<!-- "Introduccion a Linux" section -->

<div class="intro">
    <div class="intro-child-left">
        <div class="intro-header">
            <div class="container">
                <nav class="intro-nav">
                    <div>Home</div>
                    <span class="material-icons">forward</span>
                    <div>Browse Courses</div>
                    <span class="material-icons">forward</span>
                    <div style="color: rgb(192, 192, 192);">Introduction to Linux</div>
                </nav>
            </div>
        </div>
        <div style="margin-left: 50px; font-size: 30px;">
            Introduction to Linux
        </div>
        <div style="margin-left: 50px;">
            First steps to implement a server
        </div>
        <div style="margin-left: 50px; position: relative; top: 15px;">
            Lorem ipsum dolor sit amet, consectetur 
            adipiscing elit. Convallis neque, odio accumsan 
            non sed morbi cursus eget leo. Cursus morbi et, 
            ut consequat, arcu, tempus, magna vel sem. Aliquet 
            posuere arcu hac proin a. Duis orci facilisis 
            ipsum velit, pellentesque nibh turpis.
        </div>
        <div style="font-style: italic; color: rgb(192, 192, 192); position: relative; top: 120px; margin-left: 50px;">
            Estimated Total Effort
        </div>
        <div style="font-style: italic; color: rgb(145, 145, 145); position: relative; top: 120px; margin-left: 50px;">
            8 hours
        </div>
        <a href="#">
            Start Course
        </a>
    </div>
    <div class="intro-child-right">
        <img src="../static/img/image 1.jpg" width="700" alt="JKorp Logo">
    </div>
</div>
<div class="main">
    <div class="left" style="padding-left: 120px;">
        <div>
            <h2>
                What will you learn?
            </h2>
            <p> 
                Lorem ipsum dolor sit amet, consectetur 
                adipiscing elit. Convallis neque, odio accumsan 
                non sed morbi cursus eget leo.
            </p> <br>
            <p>
                Cursus morbi et, 
                ut consequat, arcu, tempus, magna vel sem. Aliquet 
                posuere arcu hac proin a. Duis orci facilisis 
                ipsum velit, pellentesque nibh turpis.
            </p>
            <h2>
                Course Structure
            </h2> <br> <br>
        </div>
            <div style="float: left">
                <img src="../static/img/Group 9.png" width="70px" alt="Nodules Pic">
            </div>
            <div style="padding-left: 110px; position: relative; bottom: 32px;">
                <h3 style="font-size: 25px">
                    Part 1
                </h3>
                <h5 style="line-height: 28px; position: relative; bottom: 18px;
                font-family: 'Saira', sans-serif;">
                    Introduction <br>
                    Presentation <br>
                    Basic Rules
                </h5>
                <h3 style="font-size: 25px; position: relative; bottom: 18px;">
                    Part 2
                </h3>
                <h5 style="line-height: 28px; position: relative; bottom: 38px;
                font-family: 'Saira', sans-serif;">
                    Introduction <br>
                    Presentation <br>
                    Basic Rules
                </h5>
                <h3 style="font-size: 25px; position: relative; bottom: 48px;">
                    Part 3
                </h3>
                <h5 style="line-height: 28px; position: relative; bottom: 70px;
                font-family: 'Saira', sans-serif;">
                    Introduction <br>
                    Presentation <br>
                    Basic Rules
                </h5>
                <h3 style="font-size: 25px; position: relative; bottom: 64px;">
                    Part 4
                </h3>
                <h5 style="line-height: 28px; position: relative; bottom: 82px;
                font-family: 'Saira', sans-serif;">
                    Introduction <br>
                    Presentation <br>
                    Basic Rules
                </h5>
            </div>
            <div class="bottom-left-main">
                <div>
                    <h3>
                        Database Administration <br> <br> <br>
                    </h3>
                    <img src="../static/img/image 2.png" alt="Databse Pic">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Convallis neque, odio accumsan 
                        non sed morbi cursus eget leo.
                    </p>
                    <a>
                        VIEW MORE
                    </a>
                </div>
                <div>
                    <h3>
                        Java Programming Language <br> <br>
                    </h3>
                    <img src="../static/img/image 4.png" alt="Databse Pic">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Convallis neque, odio accumsan 
                        non sed morbi cursus eget leo.
                    </p>
                    <a>
                        VIEW MORE
                    </a>
                </div>
                <div>
                    <h3>
                        System Administration with Oracle Database
                    </h3>
                    <img src="../static/img/image 3.png" alt="Databse Pic">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur 
                        adipiscing elit. Convallis neque, odio accumsan 
                        non sed morbi cursus eget leo.
                    </p>
                    <a>
                        VIEW MORE
                    </a>
                </div>
            </div>
    </div>
    <div class="right">
        <div class="first-div-right">
            <h3>
                Prerequisites
            </h3>
            <ul>
                <li>Knowledge in Operating System Process</li>
                <li>Virtualbox Administration</li>
                <li>Knowledge in Operating System Process</li>
                <li>Virtualbox Administration</li>
            </ul>
        </div>
        <div class="second-div-right">
            <h3>
                Your Teacher:
            </h3>
            <img src="../static/img/Ellipse 12.png" alt="Teacher Pic">
            <p style="font-weight: bolder;"></p>
            <p>Computer Science Teacher at MIT <br>
            _____________________________________<br>
            David J. Malan is a Senior Curriculum Engineer at MongoDB.
            Prior to MongoDB Yulia worked at Styuvesant High School
            where taught Computer Science to hundres of unsuspecting students</p>
        </div>
        <div class="third-div-right">
            <div class="topthird-div-right">
                <div class="topleft-third-div-right">
                    S/. 49.99
                </div>
                <div class="topright-third-div-right">
                    <div>
                        20% OFF!!!
                    </div> 
                </div>
            </div>
            <div class="third-div-right-div1">
            <a href="#">
                Buy Course
            </a>
            </div>
            <div class="third-div-right-div2">
            <a href="#">
                Add to Cart
            </a>
            </div>  
        </div>
    </div>
</div>
</div>
<div class="footer">
    <div>
        <h3>JKorp</h3>
        <br><br><br><br><br><br>
        @ 2021 JKorp
    </div>
    <div>
        <h4>About</h4>
        <p>
            Careers <br>
            Legal Notices <br>
            Privacy Notices <br>
            Security Information <br>
            Trust Center <br>
        </p>
    </div>
    <div>
        <h4>Support</h4>
        <p>
            Contact us <br>
            Customer Portal <br>
            Atlas Status <br>
            Paid Support <br>
        </p>
    </div>
    <div>
        <h4>Social</h4>
        <p>
            Facebook <br>
            LinkedIn <br>
            Twitter <br>
            Medium <br>
            Github <br>
        </p>
    </div>
</div>
</body>
</html>