<!DOCTYPE html>
<html>
    <body>
        <form action="/register", method="POST">
            <input type="text" name="nombre" id="nombre" placeholder="Nombre"><br>
            <input type="text" name="apellido" id="apellido" placeholder="Apellido"><br>
            <input type="text" name="user" id="user" placeholder="Usuario"><br>
            <input type="password" name="pass" id="pass" placeholder="Contraseña" minlength="7"><br>
            <input type="submit" value="Crear cuenta">
        </form>
    </body>
</html>