@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Saira:wght@200&display=swap');

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: 'Red Hat Display', sans-serif;
}

html, body {
    display: flex;
    min-height: 100vh;
    background-color: seashell;
}

img {
	max-width: 100%;
	height: auto;
}

.left {
    flex: 1;
    width: 400px;
    padding: 60px;
    background-color: seashell;
    height: 848px;
}

.left input {
    margin-top: 30px;
    margin-bottom: 30px;
    margin-left: 8px;
    padding: 20px;
    width: 264px;
    border-radius: 40px;
    border-color: sienna;
}

.left button {
    /* margin-top: 350px; */
    margin-bottom: 30px;
    margin-left: 8px;
}

.right {
    flex: 2;
}

.right-div {
    background-image: url("Rectangle 1.png");
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(70%);
    height: 53em;
    width: 59.5em;
}

.right-div h2 {
    font-family: 'Saira', sans-serif;
    padding-top: 60px;
    padding-left: 100px;
    font-size:40px;
    font-weight: 2000;
    color: rgb(255, 255, 255);
}

.right-div p {
    font-family: 'Saira', sans-serif;
    padding-left: 100px;
    font-size:20px;
    color: rgb(255, 255, 255);
}

.right-div a {
    font-family: 'Red Hat Display', sans-serif;
    padding-left: 100px;
    font: size 25px;
    font-weight: bolder;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.right-div a:hover {
    color: rgb(198, 218, 255);
}

.button {
    border-radius: 4px;
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
}

.button a {
    font-family: 'Red Hat Display', sans-serif;
    text-decoration: none;
    justify-content: center;
}

.button a:hover {
    font-size: 14px;
}

#google {
    display:block;
    border: none;
    background: url('google login.jfif') no-repeat bottom;
    background-size: 270px 56px;
}

#github {
    display:block;
    border: none;
    background: url('gitlogin.jfif') no-repeat bottom;
    background-size: 270px 40px;
}

.leftmargin {
    margin-left: 50px;
    margin-bottom: -60px;
}