<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="static/icon/logo.ico" type="image/x-icon" />
    <title>JKORP: Log-In</title>
    <link
      rel="stylesheet"
      type="text/css"
      href="static/css/loginstylesheet.css"
    />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
      #loggoogle{
        background-color: brown;
      }
      #loggithub{
        background-color: black;
      }
    </style>
  </head>

  <div class="left">
    <div>
      <a href="/"><img
        src="static/img/JKorp.png"
        width="170"
        height="95"
        alt="JKorp Logo"
        class="leftmargin"
      />
      </a>
      
    </div>
    <!-- <a id="google" href="/gmailauth">
      <br><br/><br/><br/><br/><br/>
    </a> -->
    <br><br/><br/><br/>
    <a id="loggoogle" class="btn btn-danger btn-lg btn-block" href="/gmailauth" role="button" style="margin-bottom: 10px;">Sign in with Google</a>
    <a id="loggithub" class="btn btn-dark btn-lg btn-block" href="/gitlogin" role="button">Sign in with Github</a>
    <!-- <a id="github" href="/gitlogin">
      <br><br/><br/><br/><br/><br/>
    </a> -->
    <br>
    <form method="POST">
      <h3 align="center">Login</h3>
      <br>
        <label for="email">Correo Electronico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Ingresar Correo"
        />

        <label for="password">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Ingresar Contraseña"
          minlength="2"
        />
      <!-- <button type="submit" class="button btn btn-primary">Login</button> -->
      <button type="submit" class="button">Login</button>
      {% if errorS != None %}
          <h4 style="color:red">&nbsp;&nbsp;&nbsp;&nbsp;{{errorS}}</h4>
        {% endif %}
    </form>
    <button class="button">
      <a href="/signup"
        >Don't have an account? <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        Sign up</a
      >
    </button>
  </div>
  <div class="right">
    <div class="right-div">
      <h2>
        Easily scale with <br />
        serverles instance
      </h2>
      <p>
        Lorem ipsum dolor sit amet,<br />
        consectetur adipiscing elit.<br />
        Convallis neque, odio accumsan non<br />
        sed morbi cursus eget leo.
      </p>
      <a href="#"> See the tutorial -> </a>
    </div>
  </div>
</html>
