<!DOCTYPE html>
<html>
  <head>
    <link
      rel="stylesheet"
      type="text/css"
      href="static/css/loginstylesheet.css"
    />
  </head>

  <div class="left">
    <div>
      <a href="/"><img
        src="static/img/JKorp.png"
        width="170"
        height="95"
        alt="JKorp Logo"
        class="leftmargin"
      /></a>
      
    </div>
    <a id="google" href="#"
      ><br>
      <br />
      <br />  
      <br />
      <br />
      <br
    /></a>
    <br>
    <form method="POST">
      <h3 align="center">Login</h3>
      <br>
        <label for="email">Correo Electronico</label>
        <input
          type="email"
          class="form-control"
          id="email"
          name="email"
          placeholder="Ingresar Correo"
        />

        <label for="password">Contraseña</label>
        <input
          type="password"
          class="form-control"
          id="password"
          name="password"
          placeholder="Ingresar Contraseña"
        />
      <!-- <button type="submit" class="button btn btn-primary">Login</button> -->
      <button type="submit" class="button">Login</button>
    </form>
    <button class="button">
      <a href="/register"
        >Don't have an account? <!-- &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; -->
        Sign up</a
      >
    </button>
  </div>
  <div class="right">
    <div class="right-div">
      <h2>
        Easily scale with <br />
        serverles instance
      </h2>
      <p>
        Lorem ipsum dolor sit amet,<br />
        consectetur adipiscing elit.<br />
        Convallis neque, odio accumsan non<br />
        sed morbi cursus eget leo.
      </p>
      <a href="#"> See the tutorial -> </a>
    </div>
  </div>
</html>
