<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" type="text/css" href="static/css/loginstylesheet.css">
</head>

{% extends "base.html" %} {% block title %}Login{% endblock %} {% block content
    %}


    <div class="left">
      <div>
          <img src="static/img/JKorp.png" width="170" height="95" alt="JKorp Logo" class="leftmargin">
      </div>
      <a id="google" href="#"><br> <br> <br> <br> <br> <br></a>

      
      <form method="POST">
        <h3 align="center">Login</h3>
        <div class="form-group">
          <label for="email">Correo Electronico</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Ingresar Correo"
          />
        </div>
        <div class="form-group">
          <label for="password">Contraseña</label>
          <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Ingresar Contraseña"
          />
        </div>
        <br />
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
    <button class="button"><a href="/register">Don't have an account? &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Sign up</a></button>
  </div>
  <div class="right">
      <div class="right-div">
          <h2>
              Easily scale with <br>
              serverles instance
          </h2>
          <p>
              Lorem ipsum dolor sit amet,<br> consectetur 
              adipiscing elit.<br> Convallis neque, odio accumsan 
              non<br> sed morbi cursus eget leo.
          </p>
          <a href="#">
              See the tutorial ->
          </a>
      </div>
  </div>
  </html>    {% endblock %}